name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**/*.tpl"
      - "**/*.py"
      - "**/*.tf"
      - ".github/workflows/release.yml"

jobs:
  call-workflow:
    uses: nexus-module/.github/.github/workflows/reusable-release.yml@main
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
